body {
  margin: 0;
  padding: 0;
  background-color: #eadede;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.project {
  width: 30%;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e4dac7;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 2px 1px 2px 1px;
}

.user-info {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dp {
  display: flex;
}